

#ranna-face {
  z-index: 900;
  height: 20vh;
}

.left-right-bounce {
    bottom: 15%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
  }

  @-webkit-keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 282px);
    }
    100% {
      left: 0;    
    }
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .container {
    border: 1px solid black;
    width: fit-content;
    block-size: fit-content;
    padding: 40px 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: white;

    z-index: 950;
  }